.boite__modale{
    position: absolute; //la position absolute fait en sorte que le parent de la boite modale est body
    width : 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border: 3px solid purple;
    background-color: chartreuse;
    transform: scale(0);
    transition: all 1s ease-in-out;
    &--ouvrir{
        transform: scale(1);
    }
}

